:host{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

.parent{
    display: flex;
    flex-direction: column;
    height: 100%;

    font-size: 0.5rem;
}

.title {
    padding: 0;
    font-size: 1.6rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #1e2a46;
}

.content{
    flex: 1;
    margin: 0 1em 0 1.2em;
}

.header {
    padding-left: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;
}

.mat-content{
    height: calc(100% - 0.5rem);
    box-sizing: border-box;

    padding: 0%;
}

.material-icons-outlined {
    color: #0590ca;
    font-size:1.6rem;
}

.action {
    margin-right: 1.5em;
    font-size: 1rem;
}

.ag-grid {
    height: calc(100% - 100px);
    font-size: 0.8rem;
}
