<div class="parent">
  <div class="header">
      <div class="title">
        Portfolio History - Test UI
      </div>
      <div class="action">
      </div>
  </div>

  <div class="content">
      <mat-card class="mat-content" style="width: 100%;">

        <ag-grid-angular
          [rowData]="rowData"
          [columnDefs]="columnDefs"
          [modules]="modules"
          [adaptableOptions]="adaptableOptions"
          [gridOptions]="gridOptions"
          class="ag-theme-alpine ag-grid"
        >
        </ag-grid-angular>

      </mat-card>
  </div>
</div>

